<h1>Bienvenido a ParkApp</h1>
<p><em>¡Se han acabado los problemas de aparcamiento!</em></p>

<p>
  Esta es una demostración para una aplicación móvil que todavía no existe. 
  La idea es poder presentar la funcionalidad para validar la idea y ver que opinan los usuarios 
  antes de programarla en iPhone/Android.
</p>
  
  
  
<p>¿Cómo funciona? Muy simple:</p>

<ol>
  <li>Te registrars y te conectas con tu usuario</li>
  <li>Cuando coges el coche por la mañana abres la aplicación y 
    le das a "Estoy saliendo", de esta forma informas a los demás 
    usuarios que has dejado una plaza libre.</li>
  <li>En este punto también debes seleccionar el tipo de plaza que era 
    (zona blanca, carga y descarga, etc).</li>
  <li>Cuando vuelves del trabajo por la noche y llegas a tu barrio, 
    abres la aplicación y le das a "Estoy buscando plaza".</li>
  <li>Ahora se te abre el mapa y te muestra las plazas libres que 
    acaban de dejar otros usuarios de tu zona</li>
  <li>¡Ya está! Una herramienta simple que nos permite ayudarnos 
    mutuamente para que sea más fácil encontrar aparcamiento.</li>
</ol>